* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --highlight-color: #f55656;
    ;
    --dark-color: #005f57;
    --light-color: #ffffff;
    --transparent-black: #04151f45;
    --contrast-color: #636363;
    font-family: arial;
}

button {
    cursor: pointer;
    transition: all 0.2s;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    background-color: var(--transparent-black);
    color: #fff;
}

button:active {
    box-shadow: inset -1px -1px 2px gray;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--light-color);
}

path {
    fill: #fff;
}

/* Header section */

header {
    width: 100vw;
    display: grid;
    gap: 15px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 20px 35px;
    background-color: var(--dark-color);
    color: #fff;
    box-shadow: 0px 0px 5px black;
}

h1 {
    font-weight: 500;
}

.open-form {
    display: grid;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
    border-radius: 5px;
}

/* Gallery section */

main {
    display: grid;
    gap: 25px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: column;
    justify-items: center;
    overflow: scroll;
    padding: 35px;
}

.card {
    width: 200px;
    height: 250px;
    display: grid;
    padding: 10px;
    background-color: #fff;
    border: 2px solid var(--contrast-color);
    border-radius: 5px;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}

.card:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0px 3px 3px var(--transparent-black);
}

.card {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
}

.card-data {
    color: #000;
    overflow: scroll;
    word-wrap: break-word;
    font-size: 0.9rem;
    font-weight: normal;
}

.is-read {
    font-weight: 400;
    justify-self: center;
    color: gray;
}

.un-read {
    font-weight: 400;
    justify-self: center;
    color: var(--highlight-color);
}

.remove-button {
    display: grid;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    background: none;
    text-transform: uppercase;
    color: var(--highlight-color);
}

/* Form section */

.cover {
    display: none;
    justify-items: center;
    align-items: center;
    background-color: var(--transparent-black);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: scroll;
}

form {
    display: grid;
    position: relative;
    padding: 50px;
    gap: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fff;
    z-index: 11;
}

.close-cover {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.2rem;
    width: 30px;
    display: grid;
    align-items: center;
    height: 30px;
    background: none;
    color: var(--highlight-color);
}

.inputs-wrapper {
    display: grid;
    align-content: center;
    gap: 15px;
    padding: 20px;
    min-width: 250px;
    min-height: 250px;
    border: 1px solid gray;
    border-radius: 5px;
}

label {
    display: grid;
}

input {
    padding: 5px;
    height: 1.2rem;
}

input:focus {
    outline: none;
    border: 1px lightgray;
    border-radius: 2px;
    box-shadow: 0 0 3px var(--dark-color);
}

.checkbox {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.switch {
    position: relative;
    width: 30px;
    height: 15px;
    border-radius: 10px;
}

.slider {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: all 0.5s;
}

.slider::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    border-radius: 10px;
    transition: all 0.5s;
}

.switch input:checked+.slider::before {
    transform: translateX(13px);
}

.switch input:checked+.slider {
    border-color: var(--highlight-color);
    background-color: var(--highlight-color);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch input:focus+.slider {
    box-shadow: 0 0 3px var(--highlight-color);
}

.add-book {
    height: 2.5rem;
}